In [1]:
import pandas as pd
import os
import chardet
import re

In [2]:
# how is it encoded
file = 'data_640_validated.csv'

with open(file, "rb") as f:
    file_encoding = chardet.detect(f.read(10))
    encoding = file_encoding['encoding']
    print(f"file encodoing:{encoding}")
df = pd.read_csv(file, encoding=encoding)
df.head()

file encodoing:ISO-8859-1

,Unnamed: 0,ï..O1,A1_1,A1_2,A2,A3,A4,A5,A6,A7,...,F23,F24,F25,F26,F27,F28,F29,F30,F31,F32
0,598,5/29/2020 8:11,Filipino,Asia,Male,Secondary school,A pet,11,Asian,"Single, never married",...,1,2,5,4,5,4,1,5,1,1
1,230,5/23/2020 1:54,American,US/Canada,Male,Secondary school,Both,13,White,"Single, never married",...,1,1,4,2,5,4,2,4,1,4
2,232,5/23/2020 2:01,American,US/Canada,Male,Secondary school,Both,13,White,"Single, never married",...,1,1,4,1,5,3,2,5,2,4
3,308,5/25/2020 1:34,Filipino,Asia,Female,High school,A pet,13,Asian,"Single, never married",...,3,2,3,4,5,5,2,5,1,2
4,231,5/23/2020 2:00,Mexican American,US/Canada,Male,Secondary school,A pet,14,Hispanic or Latino,"Single, never married",...,5,4,4,3,4,4,1,5,5,5

In [3]:
# Determine file size & number of rows
file_size_KB = os.path.getsize(file)/1024
file_size_MB= os.path.getsize(file)/(1024 * 1024)
num_rows, num_columns = df.shape

print(f"file_size:{round(file_size_KB, 2)}KB")
print(f"file_size:{round(file_size_MB, 2)}MB")
print(f"file_rows:{num_rows}")
print(f"file_columns:{num_columns}")

file_size:272.51KB
file_size:0.27MB
file_rows:640
file_columns:96

In [4]:
# chang column name
df = df.drop(columns="Unnamed: 0")
df.rename(columns = {"ï..O1":"Date", "A1_1":"nationality","A1_2": "Continent","A2": "Gender", "A3": "education", "A4": "Pet",
                     "A5":"Age", "A6": "Ethnicity", "A7":"Martial", "A8":"job"}, inplace = True)
df.head()

,Date,nationality,Continent,Gender,education,Pet,Age,Ethnicity,Martial,job,...,F23,F24,F25,F26,F27,F28,F29,F30,F31,F32
0,5/29/2020 8:11,Filipino,Asia,Male,Secondary school,A pet,11,Asian,"Single, never married",A student,...,1,2,5,4,5,4,1,5,1,1
1,5/23/2020 1:54,American,US/Canada,Male,Secondary school,Both,13,White,"Single, never married",A student,...,1,1,4,2,5,4,2,4,1,4
2,5/23/2020 2:01,American,US/Canada,Male,Secondary school,Both,13,White,"Single, never married",A student,...,1,1,4,1,5,3,2,5,2,4
3,5/25/2020 1:34,Filipino,Asia,Female,High school,A pet,13,Asian,"Single, never married",A student,...,3,2,3,4,5,5,2,5,1,2
4,5/23/2020 2:00,Mexican American,US/Canada,Male,Secondary school,A pet,14,Hispanic or Latino,"Single, never married",A student,...,5,4,4,3,4,4,1,5,5,5

In [5]:
# Check data formats
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 640 entries, 0 to 639
Data columns (total 95 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         640 non-null    object
 1   nationality  640 non-null    object
 2   Continent    640 non-null    object
 3   Gender       640 non-null    object
 4   education    640 non-null    object
 5   Pet          554 non-null    object
 6   Age          640 non-null    object
 7   Ethnicity    640 non-null    object
 8   Martial      640 non-null    object
 9   job          640 non-null    object
 10  B1           640 non-null    object
 11  B2           640 non-null    object
 12  B3           640 non-null    object
 13  C1           640 non-null    int64
 14  C2           640 non-null    int64
 15  C3           640 non-null    int64
 16  C4           640 non-null    int64
 17  C5           640 non-null    int64
 18  C6           640 non-null    int64
 19  C7           640 non-null    int64
 20  C8           640 non-null    int64
 21  C9           640 non-null    int64
 22  C10          640 non-null    int64
 23  C11          640 non-null    int64
 24  C12          640 non-null    int64
 25  C13          640 non-null    int64
 26  C14          640 non-null    int64
 27  C15          640 non-null    int64
 28  D1           634 non-null    object
 29  D2           635 non-null    object
 30  D3           639 non-null    object
 31  D4           639 non-null    object
 32  D5           640 non-null    object
 33  D6           640 non-null    object
 34  D7           627 non-null    object
 35  E1           640 non-null    int64
 36  E2           640 non-null    int64
 37  E3           640 non-null    int64
 38  E4           640 non-null    int64
 39  E5           640 non-null    int64
 40  E6           640 non-null    int64
 41  E7           640 non-null    int64
 42  E8           640 non-null    int64
 43  E9           640 non-null    int64
 44  E10          640 non-null    int64
 45  E11          640 non-null    int64
 46  E12          640 non-null    int64
 47  E13          640 non-null    int64
 48  E14          640 non-null    int64
 49  E15          640 non-null    int64
 50  E16          640 non-null    int64
 51  E17          640 non-null    int64
 52  E18          640 non-null    int64
 53  E19          640 non-null    int64
 54  E20          640 non-null    int64
 55  E21          640 non-null    int64
 56  E22          640 non-null    int64
 57  E23          640 non-null    int64
 58  E24          640 non-null    int64
 59  E25          640 non-null    int64
 60  E26          640 non-null    int64
 61  E27          640 non-null    int64
 62  E28          640 non-null    int64
 63  F1           640 non-null    int64
 64  F2           640 non-null    int64
 65  F3           640 non-null    int64
 66  F4           640 non-null    int64
 67  F5           640 non-null    int64
 68  F6           640 non-null    int64
 69  F7           640 non-null    int64
 70  F8           640 non-null    int64
 71  F9           640 non-null    int64
 72  F10          640 non-null    int64
 73  F11          640 non-null    int64
 74  F12          640 non-null    int64
 75  F13          640 non-null    int64
 76  F14          640 non-null    int64
 77  F15          640 non-null    int64
 78  F16          640 non-null    int64
 79  F17          640 non-null    int64
 80  F18          640 non-null    int64
 81  F19          640 non-null    int64
 82  F20          640 non-null    int64
 83  F21          640 non-null    int64
 84  F22          640 non-null    int64
 85  F23          640 non-null    int64
 86  F24          640 non-null    int64
 87  F25          640 non-null    int64
 88  F26          640 non-null    int64
 89  F27          640 non-null    int64
 90  F28          640 non-null    int64
 91  F29          640 non-null    int64
 92  F30          640 non-null    int64
 93  F31          640 non-null    int64
 94  F32          640 non-null    int64
dtypes: int64(75), object(20)
memory usage: 475.1+ KB

In [6]:
# check the date
try:
    df['Date'] = pd.to_datetime(df['Date'], errors='coerce')
except ValueError as e :
    print("ValueError:", e)
nan_values = df[pd.isna(df['Date'])]
if nan_values.empty:
    print("date is valid")
df.info()

date is valid
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 640 entries, 0 to 639
Data columns (total 95 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         640 non-null    datetime64[ns]
 1   nationality  640 non-null    object
 2   Continent    640 non-null    object
 3   Gender       640 non-null    object
 4   education    640 non-null    object
 5   Pet          554 non-null    object
 6   Age          640 non-null    object
 7   Ethnicity    640 non-null    object
 8   Martial      640 non-null    object
 9   job          640 non-null    object
 10  B1           640 non-null    object
 11  B2           640 non-null    object
 12  B3           640 non-null    object
 13  C1           640 non-null    int64
 14  C2           640 non-null    int64
 15  C3           640 non-null    int64
 16  C4           640 non-null    int64
 17  C5           640 non-null    int64
 18  C6           640 non-null    int64
 19  C7           640 non-null    int64
 20  C8           640 non-null    int64
 21  C9           640 non-null    int64
 22  C10          640 non-null    int64
 23  C11          640 non-null    int64
 24  C12          640 non-null    int64
 25  C13          640 non-null    int64
 26  C14          640 non-null    int64
 27  C15          640 non-null    int64
 28  D1           634 non-null    object
 29  D2           635 non-null    object
 30  D3           639 non-null    object
 31  D4           639 non-null    object
 32  D5           640 non-null    object
 33  D6           640 non-null    object
 34  D7           627 non-null    object
 35  E1           640 non-null    int64
 36  E2           640 non-null    int64
 37  E3           640 non-null    int64
 38  E4           640 non-null    int64
 39  E5           640 non-null    int64
 40  E6           640 non-null    int64
 41  E7           640 non-null    int64
 42  E8           640 non-null    int64
 43  E9           640 non-null    int64
 44  E10          640 non-null    int64
 45  E11          640 non-null    int64
 46  E12          640 non-null    int64
 47  E13          640 non-null    int64
 48  E14          640 non-null    int64
 49  E15          640 non-null    int64
 50  E16          640 non-null    int64
 51  E17          640 non-null    int64
 52  E18          640 non-null    int64
 53  E19          640 non-null    int64
 54  E20          640 non-null    int64
 55  E21          640 non-null    int64
 56  E22          640 non-null    int64
 57  E23          640 non-null    int64
 58  E24          640 non-null    int64
 59  E25          640 non-null    int64
 60  E26          640 non-null    int64
 61  E27          640 non-null    int64
 62  E28          640 non-null    int64
 63  F1           640 non-null    int64
 64  F2           640 non-null    int64
 65  F3           640 non-null    int64
 66  F4           640 non-null    int64
 67  F5           640 non-null    int64
 68  F6           640 non-null    int64
 69  F7           640 non-null    int64
 70  F8           640 non-null    int64
 71  F9           640 non-null    int64
 72  F10          640 non-null    int64
 73  F11          640 non-null    int64
 74  F12          640 non-null    int64
 75  F13          640 non-null    int64
 76  F14          640 non-null    int64
 77  F15          640 non-null    int64
 78  F16          640 non-null    int64
 79  F17          640 non-null    int64
 80  F18          640 non-null    int64
 81  F19          640 non-null    int64
 82  F20          640 non-null    int64
 83  F21          640 non-null    int64
 84  F22          640 non-null    int64
 85  F23          640 non-null    int64
 86  F24          640 non-null    int64
 87  F25          640 non-null    int64
 88  F26          640 non-null    int64
 89  F27          640 non-null    int64
 90  F28          640 non-null    int64
 91  F29          640 non-null    int64
 92  F30          640 non-null    int64
 93  F31          640 non-null    int64
 94  F32          640 non-null    int64
dtypes: datetime64[ns](1), int64(75), object(19)
memory usage: 475.1+ KB

In [7]:
# check the nationality 
# range
nationality_category_counts = df['nationality'].value_counts()
print(dict(nationality_category_counts))
print("nationality_category_counts:")
print(nationality_category_counts)

{'American': 109, 'Filipino': 95, 'usa': 44, 'USA': 38, 'British': 33, 'United States': 28, 'Vietnam': 27, 'Vietnamese': 23, 'American ': 23, 'America': 23, 'US': 15, 'British ': 12, 'us': 12, 'Canadian': 9, 'Scottish': 8, 'uk': 8, 'U.S.': 5, 'Chinese': 4, 'Australian': 4, 'Filipino ': 4, 'Viet Nam': 3, 'Myanmar': 3, 'United States of America': 3, 'filipino': 3, 'Caucasian ': 3, 'Singaporean': 3, 'Viet nam': 2, 'English ': 2, 'Dutch': 2, 'UK': 2, 'North American': 2, 'Filipino American': 2, 'Hispanic ': 2, 'Usa': 2, 'American (USA)': 2, ' United States': 2, 'Filipino-American': 2, 'Canadian ': 2, 'White': 2, 'american': 2, 'Latina': 1, 'Hong Kong': 1, 'Mexican American ': 1, 'American (USA) ': 1, 'Colombian': 1, 'Ashenkazi Jewish': 1, 'Welsh': 1, 'Mixed race ': 1, 'New Zealand European': 1, 'American (US)': 1, 'TAIWAN': 1, 'Korean/ American': 1, 'Singapore': 1, 'the United States': 1, 'Icelandic': 1, 'Philippines': 1, 'United States ': 1, 'English, Irish, German': 1, 'Mixed nationalities': 1, 'White American ': 1, 'United States of American': 1, 'Irish': 1, 'Myanmar ': 1, '29': 1, 'US citizen': 1, 'the United States ': 1, 'FILIPINO': 1, 'USA ': 1, 'Candadian': 1, 'Argentina': 1, 'African American': 1, 'Autsralian': 1, 'Japanese': 1, 'British/English ': 1, ' American': 1, 'White British ': 1, 'Cornish': 1, 'Anerican': 1, 'Italian': 1, 'South Korean': 1, 'British - White ': 1, 'White English ': 1, 'Welsh, British': 1, 'White British': 1, 'Polish-American': 1, 'Vietnamese-American': 1, 'British / Filipino, I am a dual citizen ': 1, 'Mixed': 1, 'white': 1, 'Citizen of the United States': 1, 'China': 1, 'German': 1, ' America': 1, 'Asian': 1, 'Friendly': 1, 'Portuguese-Canadian': 1, 'canadian': 1, 'Indonesia ': 1, 'Catalan (spanish)': 1, 'French': 1, 'US Citizen': 1, 'American (U.S.A.)': 1, 'American (United States)': 1, 'Norwegian': 1, 'American (United States of America) ': 1, 'indonesian': 1, 'New Zealander': 1, 'Vieynam': 1, 'German, Native American ': 1, 'Filipino American ': 1}
nationality_category_counts:
nationality
American                    109
Filipino                     95
usa                          44
USA                          38
British                      33
                           ...
indonesian                    1
New Zealander                 1
Vieynam                       1
German, Native American       1
Filipino American             1
Name: count, Length: 110, dtype: int64

In [8]:
# build the map
country_mapping = {
    'American': 'USA',
    'Filipino': 'Philippines',
    'usa': 'USA',
    'USA': 'USA',
    'British': 'UK',
    'United States': 'USA',
    'Vietnam': 'Vietnam',
    'Vietnamese': 'Vietnam',
    'American ': 'USA',
    'America': 'USA',
    'US': 'USA',
    'British ': 'UK',
    'us': 'USA',
    'Canadian': 'Canada',
    'Scottish': 'UK',
    'uk': 'UK',
    'U.S.': 'USA',
    'Chinese': 'China',
    'Australian': 'Australia',
    'Filipino ': 'Philippines',
    'Viet Nam': 'Vietnam',
    'Myanmar': 'Myanmar',
    'United States of America': 'USA',
    'filipino': 'Philippines',
    'Caucasian ': 'Unspecified',
    'Singaporean': 'Singapore',
    'Viet nam': 'Vietnam',
    'English ': 'UK',
    'Dutch': 'Netherlands',
    'UK': 'UK',
    'North American': 'USA',
    'Filipino American': 'USA',
    'Hispanic ': 'Spain',
    'Usa': 'USA',
    'American (USA)': 'USA',
    ' United States': 'USA',
    'Filipino-American': 'USA',
    'Canadian ': 'Canada',
    'White': 'Unspecified',
    'american': 'USA',
    'Latina': 'Unspecified',
    'Hong Kong': 'Hong Kong',
    'Mexican American ': 'USA',
    'American (USA) ': 'USA',
    'Colombian': 'Colombia',
    'Ashenkazi Jewish': 'Unspecified',
    'Welsh': 'UK',
    'Mixed race ': 'mix',
    'New Zealand European': 'New Zealand',
    'American (US)': 'USA',
    'TAIWAN': 'Taiwan',
    'Korean/ American': 'mix',
    'Singapore': 'Singapore',
    'the United States': 'USA',
    'Icelandic': 'Iceland',
    'Philippines': 'Philippines',
    'United States ': 'USA',
    'English, Irish, German': 'mix',
    'Mixed nationalities': 'mix',
    'White American ': 'USA',
    'United States of American': 'USA',
    'Irish': 'Ireland',
    'Myanmar ': 'Myanmar',
    '29': 'Unspecified',
    'US citizen': 'USA',
    'the United States ': 'USA',
    'FILIPINO': 'Philippines',
    'USA ': 'USA',
    'Candadian': 'Canada',
    'Argentina': 'Argentina',
    'African American': 'USA',
    'Autsralian': 'Australia',
    'Japanese': 'Japan',
    'British/English ': 'UK',
    ' American': 'USA',
    'White British ': 'UK',
    'Cornish': 'UK',
    'Anerican': 'USA',
    'Italian': 'Italy',
    'South Korean': 'South Korea',
    'British - White ': 'UK',
    'White English ': 'UK',
    'Welsh, British': 'UK',
    'White British': 'UK',
    'Polish-American': 'mix',
    'Vietnamese-American': 'mix',
    'British / Filipino, I am a dual citizen ': 'mix',
    'Mixed': 'mix',
    'white': 'Unspecified',
    'Citizen of the United States': 'USA',
    'China': 'China',
    'German': 'Germany',
    ' America': 'USA',
    'Asian': 'Unspecified',
    'Friendly': 'Unspecified',
    'Portuguese-Canadian': 'mix',
    'canadian': 'Canada',
    'Indonesia ': 'Indonesia',
    'Catalan (spanish)': 'Spain',
    'French': 'France',
    'US Citizen': 'USA',
    'American (U.S.A.)': 'USA',
    'American (United States)': 'USA',
    'Norwegian': 'Norway',
    'American (United States of America) ': 'USA',
    'indonesian': 'Indonesia',
    'New Zealander': 'New Zealand',
    'Vieynam': 'Vietnam',
    'German, Native American ': 'mix',
    'Filipino American ': 'USA'
}

In [9]:
# mapping
df['nationality'] = df['nationality'].map(country_mapping)
nationality_category_counts = df['nationality'].value_counts()
print(dict(nationality_category_counts))
print("nationality_category_counts:")
print(nationality_category_counts)

{'USA': 334, 'Philippines': 104, 'UK': 73, 'Vietnam': 56, 'Canada': 13, 'Unspecified': 11, 'mix': 10, 'Australia': 5, 'China': 5, 'Singapore': 4, 'Myanmar': 4, 'Spain': 3, 'New Zealand': 2, 'Netherlands': 2, 'Indonesia': 2, 'Argentina': 1, 'Hong Kong': 1, 'Ireland': 1, 'Colombia': 1, 'Taiwan': 1, 'Italy': 1, 'Japan': 1, 'France': 1, 'South Korea': 1, 'Germany': 1, 'Norway': 1, 'Iceland': 1}
nationality_category_counts:
nationality
USA            334
Philippines    104
UK              73
Vietnam         56
Canada          13
Unspecified     11
mix             10
Australia        5
China            5
Singapore        4
Myanmar          4
Spain            3
New Zealand      2
Netherlands      2
Indonesia        2
Argentina        1
Hong Kong        1
Ireland          1
Colombia         1
Taiwan           1
Italy            1
Japan            1
France           1
South Korea      1
Germany          1
Norway           1
Iceland          1
Name: count, dtype: int64

In [10]:
# check the continent
continent_category_counts = df['Continent'].value_counts()
print(dict(continent_category_counts))
print("continent_category_counts:")
print(continent_category_counts)

{'US/Canada': 352, 'Asia': 180, 'EU': 92, 'Other': 16}
continent_category_counts:
Continent
US/Canada    352
Asia         180
EU            92
Other         16
Name: count, dtype: int64

In [11]:
# check the gender
Gender_category_counts = df['Gender'].value_counts()
print(dict(Gender_category_counts))
print("Gender_category_counts:")
print(Gender_category_counts)

{'Female': 412, 'Male': 228}
Gender_category_counts:
Gender
Female    412
Male      228
Name: count, dtype: int64

In [12]:
# check the education
education_category_counts = df['education'].value_counts()
print(dict(education_category_counts))
print("education_category_counts:")
print(education_category_counts)

{'Undergraduate school': 336, 'Graduate school and higher': 162, 'High school': 128, 'Secondary school': 13, 'Primary school': 1}
education_category_counts:
education
Undergraduate school          336
Graduate school and higher    162
High school                   128
Secondary school               13
Primary school                  1
Name: count, dtype: int64

In [13]:
# check the Pet
pet_category_counts = df['Pet'].value_counts()
print(dict(pet_category_counts))
print("pet_category_counts:")
print(pet_category_counts)

{'Both': 272, 'A pet': 215, 'A garden': 67}
pet_category_counts:
Pet
Both        272
A pet       215
A garden     67
Name: count, dtype: int64

In [14]:
# change the 'None' to 'Neither'
df = df.fillna("Neither")
pet_category_counts = df['Pet'].value_counts()
print(dict(pet_category_counts))
print("pet_category_counts:")
print(pet_category_counts)

{'Both': 272, 'A pet': 215, 'Neither': 86, 'A garden': 67}
pet_category_counts:
Pet
Both        272
A pet       215
Neither      86
A garden     67
Name: count, dtype: int64

In [15]:
# check the age
# Check if the "Age" column contains non-numeric data
numeric_column = pd.to_numeric(df['Age'], errors='coerce')
non_numeric_values = df[~numeric_column.notna()]
print(non_numeric_values)

                   Date nationality  Continent  Gender             education  \
638 2020-05-26 03:05:00         USA  US/Canada  Female  Undergraduate school
639 2020-06-15 18:51:00     Vietnam       Asia  Female  Undergraduate school

         Pet     Age Ethnicity                          Martial  \
638     Both     30s     Other  Married or domestic partnership
639  Neither  sub 28     Asian            Single, never married

                    job  ... F23 F24 F25  F26  F27  F28  F29  F30  F31  F32
638       Self-employed  ...   3   3   4    3    3    3    3    2    2    3
639  Employed for wages  ...   1   1   2    3    3    2    1    2    1    1

[2 rows x 95 columns]

In [16]:
df.at[638, 'Age'] = 30
df.at[639, 'Age'] = 28

In [17]:
#Ethnicity
ethnicity_category_counts = df['Ethnicity'].value_counts()
print(dict(ethnicity_category_counts))
print("ethnicity_category_counts:")
print(ethnicity_category_counts)

{'White': 347, 'Asian': 200, 'Hispanic or Latino': 40, 'Black or African American': 29, 'Other': 9, 'Pacific Islander': 8, 'Native American or American Indian': 7}
ethnicity_category_counts:
Ethnicity
White                                 347
Asian                                 200
Hispanic or Latino                     40
Black or African American              29
Other                                   9
Pacific Islander                        8
Native American or American Indian      7
Name: count, dtype: int64

In [18]:
# check the Martial
martial_category_counts = df['Martial'].value_counts()
print(dict(martial_category_counts))
print("martial_category_counts:")
print(martial_category_counts)

{'Single, never married': 391, 'Married or domestic partnership': 237, 'Divorced': 6, 'Separated': 3, 'Widowed': 3}
martial_category_counts:
Martial
Single, never married              391
Married or domestic partnership    237
Divorced                             6
Separated                            3
Widowed                              3
Name: count, dtype: int64

In [19]:
# check the Job
job_category_counts = df['job'].value_counts()
print(dict(job_category_counts))
print("job_category_counts:")
print(job_category_counts)

{'Employed for wages': 357, 'A student': 123, 'Out of work and looking for work': 55, 'Self-employed': 44, 'Out of work but not currently looking for work': 27, 'Unable to work': 17, 'A homemaker': 14, 'Military': 2, 'Retired': 1}
job_category_counts:
job
Employed for wages                                357
A student                                         123
Out of work and looking for work                   55
Self-employed                                      44
Out of work but not currently looking for work     27
Unable to work                                     17
A homemaker                                        14
Military                                            2
Retired                                             1
Name: count, dtype: int64

In [20]:
df.rename(columns = {"B1": "isolated", "B2": "Time", "B3": "Covid-19"}, inplace = True)

In [21]:
# check the isolated
isolated_category_counts = df['isolated'].value_counts()
print(dict(isolated_category_counts))
print("isolated_category_counts:")
print(isolated_category_counts)

{'Yes': 499, 'No': 141}
isolated_category_counts:
isolated
Yes    499
No     141
Name: count, dtype: int64

In [22]:
# check the time
time_category_counts = df['Time'].value_counts()
print(dict(time_category_counts))
print("time_category_counts:")
print(time_category_counts)

{'More than a month': 403, 'No self-isolation/social distancing': 111, 'More than 3 weeks': 45, 'More than 2 weeks': 42, 'More than a week': 20, '7 days': 7, '1 day': 4, '4 days': 3, '5 days': 2, '6 days': 2, '3 days': 1}
time_category_counts:
Time
More than a month                      403
No self-isolation/social distancing    111
More than 3 weeks                       45
More than 2 weeks                       42
More than a week                        20
7 days                                   7
1 day                                    4
4 days                                   3
5 days                                   2
6 days                                   2
3 days                                   1
Name: count, dtype: int64

In [23]:
# check the Covid-19
covid_category_counts = df['Covid-19'].value_counts()
print(dict(covid_category_counts))
print("covid_category_counts:")
print(covid_category_counts)

{'Worried': 319, 'Very worried': 154, 'A little': 148, 'Not at all': 19}
covid_category_counts:
Covid-19
Worried         319
Very worried    154
A little        148
Not at all       19
Name: count, dtype: int64

In [24]:
# check the D1:How long have you been playing video games?
d1_category_counts = df['D1'].value_counts()
print(dict(d1_category_counts))
print("d1_category_counts:")
print(d1_category_counts)

{'More than 3 years': 507, '2-3 years': 55, '1-2 years': 46, '0-1 years': 26, 'Neither': 6}
d1_category_counts:
D1
More than 3 years    507
2-3 years             55
1-2 years             46
0-1 years             26
Neither                6
Name: count, dtype: int64

In [25]:
# check the D2:Which genre of video games do you often play?
d2_category_counts = df['D2'].value_counts()
print(dict(d2_category_counts))
print("d2_category_counts:")
print(d2_category_counts)

{'Action, Adventure, RPG, Simulation, Strategy, Sports': 67, 'Action, Adventure, RPG, Simulation, Strategy': 52, 'Adventure, RPG, Simulation, Strategy': 43, 'Adventure, RPG, Simulation': 41, 'Action, Adventure, RPG, Simulation': 40, 'RPG, Simulation': 27, 'Simulation': 25, 'Action, Adventure, RPG, Strategy': 23, 'RPG': 22, 'Adventure, RPG, Strategy': 22, 'RPG, Simulation, Strategy': 18, 'Adventure': 18, 'Adventure, RPG': 18, 'Action, Adventure, RPG': 17, 'Adventure, Simulation, Strategy': 13, 'Action, Adventure, Simulation, Strategy': 13, 'Adventure, Simulation': 13, 'RPG, Strategy': 11, 'Simulation, Strategy': 10, 'Action, RPG, Simulation': 9, 'Action, Adventure': 7, 'Adventure, Strategy': 6, 'Neither': 5, 'Action': 4, 'Strategy': 4, 'RPG, Simulation, Sports': 4, 'Adventure, Simulation, Sports': 4, 'Action, RPG, Simulation, Strategy': 4, 'Action, RPG': 4, 'Action, RPG, Strategy': 4, 'Action, Adventure, Strategy': 4, 'Action, Simulation, Strategy': 3, 'RPG, Simulation, Puzzle': 3, 'Sports': 3, 'Adventure, RPG, Simulation, Strategy, Sports': 3, 'Adventure, RPG, Strategy, Sports': 2, 'Action, Adventure, RPG, Strategy, Sports': 2, 'Action, Adventure, RPG, Simulation, Sports': 2, 'Action, Adventure, Simulation, Strategy, Sports': 2, 'Adventure, RPG, Simulation, Puzzle': 2, 'Action, Adventure, Simulation, Sports': 2, 'Action, Adventure, Sports': 2, 'Action, RPG, Simulation, Sports': 2, 'Action, Adventure, Simulation': 2, 'Strategy, Sports': 2, 'RPG, Strategy, Sports': 2, 'Action, Adventure, RPG, Simulation, Strategy, Whatever looks fun': 1, 'Adventure, RPG, Simulation, Sports': 1, 'RPG, Simulation, Strategy, Puzzle': 1, 'RPG, Dancing': 1, 'Puzzle': 1, 'Action, RPG, Sports': 1, 'Action, Adventure, RPG, MOBA': 1, 'Action, Adventure, MOBA': 1, 'Action, Adventure, RPG, Simulation, MMORPG': 1, 'MOBA': 1, 'Action, Adventure, RPG, Simulation, Strategy, Visual Novel': 1, 'Adventure, Puzzle': 1, 'Action, Adventure, RPG, Simulation, Strategy, Sex Dungeon Design': 1, 'FPS': 1, 'Adventure, RPG, Simulation, Strategy, Visual Novels': 1, 'Action, RPG, Simulation, Fighting, 3D platformer': 1, 'Action, Adventure, Simulation, Strategy, puzzle': 1, 'Action, RPG, Strategy, Sports': 1, 'Adventure, Simulation, Strategy, Puzzle': 1, 'Action, RPG, Simulation, Strategy, Sports': 1, 'Action, Adventure, RPG, Simulation, Strategy, Mmo': 1, 'RPG, First person shooter': 1, 'Animal crossing and the Sims since they came out': 1, 'Adventure, Simulation, puzzle': 1, 'Action, Adventure, Strategy, Creation games ex: rec room vrchat': 1, 'Action, Adventure, RPG, Simulation, Sports, Platformers': 1, 'RPG, Simulation, Strategy, FPS': 1, 'Iâ\x80\x99m not sure what category, but League of Legends and Fortnite ': 1, 'Action, Adventure, Simulation, Puzzle ': 1, 'Action, Adventure, Strategy, Sports': 1, 'Adventure, Simulation, Visual Novels': 1, 'Adventure, Simulation, Story-driven': 1, 'RPG, Simulation, Platform': 1, 'Action, Adventure, RPG, Strategy, Platform': 1, 'Action, Adventure, Simulation, Strategy, Varied themes all in one game ex: rec room, vr chat,': 1, 'Action, Adventure, Strategy, FPS MMORPG': 1, 'Adventure, Simulation, Strategy, puzzle, trivia': 1, 'Action, Adventure, RPG, Sports': 1, 'Action, Adventure, RPG, FPS, TPS': 1, 'Action, Adventure, Simulation, FPS': 1, 'RPG, Versus fighting': 1, 'Adventure, Sports': 1, 'Action, Adventure, RPG, Simulation, Strategy, Sports, Puzzle': 1, 'Action, Adventure, RPG, Simulation, Strategy, Sports, almost all of them': 1, 'Action, Strategy': 1, 'Simulation, Sports': 1, 'Action, Simulation': 1, 'Action, Adventure, Simulation, Point and click, first person shooter': 1, 'Action, Adventure, RPG, Simulation, Strategy, Farming / Chill': 1, 'Simulation, Strategy, Sports': 1, 'Action, RPG, 2D Fighter': 1, 'Action, Adventure, RPG, Simulation, Strategy, Horror': 1, 'Action, Adventure, RPG, Simulation, Rhythm': 1, 'Action, Adventure, RPG, Simulation, Strategy, Massively Multiplayer Online Games': 1}
d2_category_counts:
D2
Action, Adventure, RPG, Simulation, Strategy, Sports                                67
Action, Adventure, RPG, Simulation, Strategy                                        52
Adventure, RPG, Simulation, Strategy                                                43
Adventure, RPG, Simulation                                                          41
Action, Adventure, RPG, Simulation                                                  40
                                                                                    ..
Simulation, Strategy, Sports                                                         1
Action, RPG, 2D Fighter                                                              1
Action, Adventure, RPG, Simulation, Strategy, Horror                                 1
Action, Adventure, RPG, Simulation, Rhythm                                           1
Action, Adventure, RPG, Simulation, Strategy, Massively Multiplayer Online Games     1
Name: count, Length: 100, dtype: int64

In [26]:
def check_encoding(row):
    result = chardet.detect(row.encode())
    if result['encoding'] != 'utf-8':
        return True
    return False

# Identify rows with invalid characters
df['Invalid Characters'] = df['D2'].apply(check_encoding)

print(df[df['Invalid Characters'] == False])

# # Drop the additional column used for checking
# df = df.drop(columns=['Invalid Characters'])

                   Date nationality  Continent  Gender  \
349 2020-05-25 06:25:00         USA  US/Canada  Female

                      education    Pet Age Ethnicity  \
349  Graduate school and higher  A pet  26     White

                             Martial          job  ... F24 F25 F26  F27  F28  \
349  Married or domestic partnership  A homemaker  ...   1   2   2    4    3

     F29  F30  F31  F32  Invalid Characters
349    2    4    3    2               False

[1 rows x 96 columns]

In [27]:
print(df.at[349, "D2"])

Iâm not sure what category, but League of Legends and Fortnite

In [28]:
df.at[349, "D2"] = 'Action, Adventure, Strategy, Sports'

In [29]:
# check the D3:How often do you play computer/video games?
d3_category_counts = df['D3'].value_counts()
print(dict(d3_category_counts))
print("d3_category_counts:")
print(d3_category_counts)

{'Everyday': 258, 'Almost everyday': 249, 'Every week': 84, 'Almost every week': 25, 'Less than every month': 14, 'Every month': 9, 'Neither': 1}
d3_category_counts:
D3
Everyday                 258
Almost everyday          249
Every week                84
Almost every week         25
Less than every month     14
Every month                9
Neither                    1
Name: count, dtype: int64

In [30]:
# check the D4:How many hours on average did you spend playing game a day in the last two weeks?
d4_category_counts = df['D4'].value_counts()
print(dict(d4_category_counts))
print("d4_category_counts:")
print(d4_category_counts)

{'3-4 hours': 228, '2-3 hours': 179, '1-2 hours': 105, '20': 6, '5-6 hours': 5, '6': 4, '20+': 3, '6-8 hours': 3, '10-12 hours': 3, '5+': 2, '10': 2, '10+': 2, '8-10 hours': 2, '10 hours or more': 2, '7-8 hours': 2, '5': 2, '9': 2, 'More than 5 hours': 2, '5-7 hours': 1, 'More than 4': 1, '6 hours a day ': 1, 'About 9 hours a day ': 1, '5 hours': 1, 'More than 3-4 hours per day': 1, 'More than 4 hours': 1, 'Can range between 5-12 hours ': 1, '4-5 hours': 1, '7 hrs': 1, '7': 1, 'Around 6-8hrs': 1, '4 or more depending': 1, '10 hours on average': 1, '50': 1, 'More than 6 hours': 1, 'Playing alot of video games do to the pandemic ': 1, 'I lost count': 1, 'Over 7': 1, '3 - 4 hours every day': 1, '8 hours': 1, '40': 1, 'Over 4': 1, '12-Aug': 1, '5 hours more': 1, '6-7 hours': 1, '10+ hrs': 1, '14': 1, '4-8 hours': 1, '8-Jul': 1, 'Too many': 1, 'About 6 hours': 1, '6 to 7 hours': 1, 'More than 5': 1, '5 to 6 hours more or less': 1, '5 hours or more': 1, 'more than 8hrs ': 1, '56 hrs / 2 weeks': 1, 'More than 7 hours': 1, '4 to 5 hours': 1, '6 hours': 1, '50 hours': 1, 'Over 4 hours': 1, '9-Jul': 1, '6 hours ': 1, 'Definitely more than 4 but I couldnâ\x80\x99t say an exact amount. I guess upper 20s': 1, '2-3 weekdays, 5-7 on weekends. ': 1, '45': 1, 'Neither': 1, '10+ hours': 1, '10 hours': 1, '6-9 hours': 1, '10-15 hours': 1, '12+  (I donâ\x80\x99t keep count)': 1, '50+ hours ': 1, '30': 1, '6-May': 1, '10-Jul': 1, '5-8 hours': 1, '50+': 1, 'Somewhere in the 30 hour range ': 1, '6-7 hours, more on occasion': 1, "8+ because I'm in quarantine": 1, '4+': 1, '8-May': 1, '112': 1, 'More than 4 hrs ': 1, 'More ': 1, 'At least 10 hours in the last two weeks': 1, '6-7, hours, possibly more on occasion': 1, 'Way above 20hrs': 1, 'More than 4 hours ': 1, 'Can be 5+ depending on work': 1, '8': 1, 'More than 10': 1, 'More than 3-4 Hours': 1, '4hours+': 1, '12-13 (thanks quarantine)': 1, 'If im not working, i play for an entire day': 1, '4+ hours ': 1, '20-Oct': 1, 'Iâ\x80\x99ve spent a lot more time playing video games during quarantine than I have in the past few years ': 1, '8 Hours hehe': 1, 'Very much , about 6-7 hours per day': 1, '6 hours+': 1, 'probably 10+ hours a day right now': 1}
d4_category_counts:
D4
3-4 hours                                                                                                228
2-3 hours                                                                                                179
1-2 hours                                                                                                105
20                                                                                                         6
5-6 hours                                                                                                  5
                                                                                                        ...
Iâve spent a lot more time playing video games during quarantine than I have in the past few years       1
8 Hours hehe                                                                                               1
Very much , about 6-7 hours per day                                                                        1
6 hours+                                                                                                   1
probably 10+ hours a day right now                                                                         1
Name: count, Length: 104, dtype: int64

In [31]:
# Function to convert time data to hours
def convert_to_hours(time_str):
    # Use regular expression to extract lower and upper limits of time range
    match = re.search(r'(\d+)(?:-(\d+|\+))?', time_str)
    if match:
        lower_limit = int(match.group(1))
        upper_limit = match.group(2)
        # If upper limit exists, choose upper limit; otherwise, choose lower limit
        return int(upper_limit) if upper_limit else lower_limit
    return None


df['Hours'] = df['D4'].apply(convert_to_hours)
d4_category_counts = df['Hours'].value_counts()
print(dict(d4_category_counts))
print("d4_category_counts:")
print(d4_category_counts)

{4.0: 242, 3.0: 181, 2.0: 105, 6.0: 17, 10.0: 16, 8.0: 15, 5.0: 13, 20.0: 11, 7.0: 9, 12.0: 6, 9.0: 5, 50.0: 4, 30.0: 2, 15.0: 1, 45.0: 1, 112.0: 1, 13.0: 1, 56.0: 1, 14.0: 1, 40.0: 1}
d4_category_counts:
Hours
4.0      242
3.0      181
2.0      105
6.0       17
10.0      16
8.0       15
5.0       13
20.0      11
7.0        9
12.0       6
9.0        5
50.0       4
30.0       2
15.0       1
45.0       1
112.0      1
13.0       1
56.0       1
14.0       1
40.0       1
Name: count, dtype: int64

In [32]:
# check the D5:How often do you play Animal Crossing?
d5_category_counts = df['D5'].value_counts()
print(dict(d5_category_counts))
print("d5_category_counts:")
print(d5_category_counts)

{'1. Everyday': 362, '2. Almost everyday': 170, '3. Every week': 70, '4. Almost every week': 19, '6. Less than every month': 10, '5. Every month': 5, 'No': 1, 'Once in a while. Dont play as much anymore.': 1, 'More often than I exist in reality': 1, 'Not yet play': 1}
d5_category_counts:
D5
1. Everyday                                    362
2. Almost everyday                             170
3. Every week                                   70
4. Almost every week                            19
6. Less than every month                        10
5. Every month                                   5
No                                               1
Once in a while. Dont play as much anymore.      1
More often than I exist in reality               1
Not yet play                                     1
Name: count, dtype: int64

In [33]:
# check the D6:What is your favorite activity in the game?
d6_category_counts = df['D6'].value_counts()
print(dict(d6_category_counts))
print("d6_category_counts:")
print(d6_category_counts)

{'Fishing': 150, 'Terraforming': 131, 'Planting trees/flowers': 128, 'Catching bugs': 74, 'Talking to villagers': 6, 'Decorating': 6, 'Interacting with villagers': 5, 'Decorating my island': 4, 'Designing': 3, 'Decorating ': 3, 'Interacting with my villagers': 2, 'Shopping': 2, 'Everything': 2, 'Trading': 2, 'decorating': 2, 'Design': 2, 'Design/interacting with villagers': 1, 'Designing the house': 1, 'Filling the museum': 1, 'trading, collection': 1, "Finishing my 'to do list' and going to the next day": 1, 'multiplayer ': 1, 'Befriending villagers': 1, 'Cataloging.making designs': 1, 'Collecting DIYs and stuff': 1, 'Have no specific favorite ': 1, 'Trading with other players ': 1, 'Decorating and buying clothes': 1, "Decorating my island (includes terraforming but that's only part of it!)": 1, 'Interacting with Villagers, Dressing Up': 1, ' creating little areas around my island like a pool area, market etc. ': 1, 'Talking to villagers!': 1, 'Designing my island with furniture ': 1, 'Gifting villagers ': 1, 'Mostly trading and designing': 1, 'Designing/repurposing areas of the island': 1, 'Drawing on the bulletin board and taking pictures.': 1, 'Interacting with friends': 1, 'Building new DIYs recipes and designing my island ': 1, 'Interacting with others': 1, 'Stalk market': 1, 'Decorating and nature landscaping': 1, 'Talking with villagers, visiting friends islands': 1, 'Exploiting natural resources and frivolously spending taxpayer money': 1, 'Looking for villagers': 1, 'Looking for surprising interaction and rares': 1, 'all of the above and visiting others islands too': 1, 'Chatting with villagers ': 1, 'Talking to residents': 1, 'All of the above, but also upgrading my house and getting new animals on my island.': 1, 'Online social interaction, visiting other peopleâ\x80\x99s Island': 1, 'Visiting with my neighbors': 1, 'Decorating/collecting decorations ': 1, 'Collecting and decorating': 1, 'Interacting with villagers ': 1, 'Time traveling': 1, 'talking to the villagers': 1, 'Decorating island': 1, 'Making custom designs ': 1, 'Not yet play': 1, 'having my sisters visit and creating hybrid flowers': 1, 'Helping other players': 1, 'All of the above': 1, 'Buying things, finding diys to decorate': 1, 'interacting with villagers ': 1, 'Decorating areas': 1, 'Everything ': 1, 'Shopping/cataloging': 1, 'Decorating and designing': 1, 'Decorating my house': 1, 'Collecting Fossils': 1, 'collecting items, visiting friends': 1, 'Playing with friends ': 1, 'Harassing the villagers': 1, 'Shopping and going to other islands': 1, 'designing recreational spaces': 1, 'Talking with villagers and contemplating the scenery': 1, 'Decorating/Designing my island': 1, 'Collecting things': 1, 'talking to my villagers': 1, 'Designing/decorating': 1, 'Collecting all items (bugs, fish, furniture and outfits), trading turnips': 1, 'Trading & talking to villagers': 1, 'buying items from Nooks Cranny and Able Sisters': 1, 'Stonks': 1, 'Turnips': 1, 'Collecting items': 1, 'Decorations ': 1, 'Villager hunting ': 1, 'Home decor': 1, 'Going to new islands, decorating ': 1, 'Talking to my villagers and checking what they are doing. ': 1, 'Decorating with furniture': 1, 'Talking to my villagers. ': 1, 'Talking to villagers and decorating ': 1, 'Making clothes ': 1, 'Watering other peopleâ\x80\x99s flowers for bells': 1, 'Taking to my villagers ': 1, 'Making designs': 1, 'Interacting with the island residents': 1, 'Completing daily tasks, improving my island and unlocking new item': 1, 'Planning out the layout of my island': 1, 'All.': 1, 'Decorating my home and outdoor spaces': 1, 'interacting with villagers': 1, 'interacting with villagers and friends': 1, 'Collecting and decorating ': 1, 'Varies on a day to day basis': 1, 'Interior Design': 1, 'Decorating/Coming up with new ideas': 1, 'Visiting friends islands ': 1, 'Complete the catalog': 1, 'Playing the game and hanging with friends': 1, 'Decorating my island and house with amenities': 1, 'Collecting recipes/furniture and decorating': 1, 'Collecting everything (fossils, fish, bugs, etc.)': 1, 'customizing everything from laying paths to decorating my home': 1, 'Decorating my home and giving neighbors gifts ': 1, 'Shopping for new stuff ': 1, 'Forming relationships and interacting with villagers': 1, 'The photo studio': 1, 'Customizing stuff': 1, 'diy building ': 1, 'Kicking out villagers for experiments ': 1, 'Cataloging': 1, 'Crafting DIYs': 1, 'Decorating home and island ': 1, 'Decorating the island': 1, 'Designing my island ': 1, 'Visiting other islands ': 1, 'Collecting furniture/designing houses': 1, 'Doing daily chores and talking to villagers': 1, 'Collecting furniture and D.I.Yâ\x80\x99s': 1, "Shopping and visiting friends' islands": 1}
d6_category_counts:
D6
Fishing                                        150
Terraforming                                   131
Planting trees/flowers                         128
Catching bugs                                   74
Talking to villagers                             6
                                              ...
Visiting other islands                           1
Collecting furniture/designing houses            1
Doing daily chores and talking to villagers      1
Collecting furniture and D.I.Yâs               1
Shopping and visiting friends' islands           1
Name: count, Length: 134, dtype: int64

In [34]:
# Identify rows with invalid characters
df['Invalid Characters'] = df['D6'].apply(check_encoding)
print(df[df['Invalid Characters'] == False])

                   Date  nationality  Continent  Gender             education  \
45  2020-05-25 01:11:00  Philippines       Asia  Female           High school
220 2020-05-21 04:45:00          USA  US/Canada    Male  Undergraduate school
628 2020-05-25 00:31:00  Philippines       Asia  Female  Undergraduate school

       Pet Age Ethnicity                Martial                 job  ... F25  \
45    Both  19     Asian  Single, never married           A student  ...   4
220   Both  24     White  Single, never married  Employed for wages  ...   5
628  A pet  42     Asian  Single, never married       Self-employed  ...   5

    F26 F27  F28  F29  F30  F31  F32  Invalid Characters  Hours
45    4   5    5    1    5    4    3               False    4.0
220   1   5    4    2    5    3    1               False    6.0
628   4   4    5    2    4    3    2               False    8.0

[3 rows x 97 columns]

In [49]:
print(df.at[45, "D6"])
print(df.at[220, "D6"])
print(df.at[628, "D6"])
print(df.at[521, "D7"])

Watering other peoples flowers for bells
Collecting furniture and D.I.Y
Online social interaction, visiting other peoples Island
I’m doing fairly natural/Jurassic park themed

In [36]:
df.at[45, "D6"] = "Watering other peoples flowers for bells"
df.at[220, "D6"] = "Collecting furniture and D.I.Y"
df.at[628, "D6"] = "Online social interaction, visiting other peoples Island"

In [37]:
# check the D7:Which style/theme do you prefer when you can terraforming?
d7_category_counts = df['D7'].value_counts()
print(dict(d7_category_counts))
print("d7_category_counts:")
print(d7_category_counts)

{'Natural': 36, 'Neither': 13, 'none': 12, 'Natural ': 12, 'Snow Mountain': 7, 'jungle': 7, 'forest': 5, 'landscape': 5, 'Water': 5, 'fishing': 4, 'na': 4, 'swamp': 4, 'sandy beach': 4, 'Not sure': 3, 'Waterfalls': 3, 'okinteresting': 3, 'no': 3, 'seaside': 3, 'Cute': 3, 'Simple': 2, 'natural': 2, 'Mountain': 2, 'hill': 2, 'Animal crossing': 2, 'Planting trees/flowers': 2, 'riverside': 2, 'Park': 2, 'As natural as possible': 2, 'hilly area': 2, 'waterfalls': 2, 'Terraforming': 2, 'Farmer house theme': 2, 'Animation finishing': 2, 'NO': 2, 'Rustic': 2, 'Unsure': 2, 'N/a': 2, 'Japanese': 2, 'Japan style': 2, 'Japanese theme': 2, 'City ': 2, 'desert': 2, 'Terrain reconstruction': 2, 'Cottagecore': 2, 'I donâ\x80\x99t know ': 2, 'Discovering new species': 2, 'My own style': 2, 'Making waterfalls': 2, 'Forest': 2, 'Symmetrical ': 2, 'Relaxing': 1, "I like keeping it as natural and organic looking as possible, so I don't do a lot of terraforming.": 1, 'Cartoon': 1, 'pink': 1, 'Not sure ': 1, 'Recently i have tried experimenting by upgrading my right side of the island to tier 2, so basically the normal ground is in the 2nd floor and so i can create a kinda like basement area which looks cool from a higher standing point. ': 1, 'Mix type - wild world and city theme': 1, 'Outdoorsy': 1, 'Like a rich': 1, 'Dream castle': 1, 'Mix between modern and natural': 1, 'Cute, with lots of waterfalls': 1, 'shooting': 1, 'Catching bugs': 1, 'Enjoying scenery': 1, 'animal world': 1, 'I donâ\x80\x99t know what this is asking': 1, 'Pet': 1, 'Japanese old town': 1, 'Japan': 1, 'No preference:)': 1, 'Natural, like the GCN version': 1, 'Idk': 1, 'I still prefer natural design. Preserve rivers and trees.': 1, 'open country': 1, 'canyon': 1, 'my island is medieval themed': 1, 'realistic semi-urban': 1, 'Alpine, Western, Natural, Aged': 1, 'Depends on my mood': 1, 'Fantasy': 1, 'I donâ\x80\x99t understand this question. I use terraforming to create a larger, more open space': 1, "I'm not sure what this question is asking as it doesn't make sense. My island theme is pink/garden-like/structured": 1, 'None yet': 1, 'Magical woods': 1, 'Fandom, Cute': 1, 'Natural as possible while being functional': 1, 'Medieval': 1, 'Land with many waterfall around': 1, 'Rural life': 1, 'i donâ\x80\x99t understand this question. ': 1, 'Varied across the island': 1, 'random': 1, 'Wetland': 1, 'Beach ': 1, 'I just terraform for space issues. I like to preserve how my island initially looked as much as possible.': 1, 'Modern Theme': 1, 'Naturalistic Island with some brick walls & paths': 1, 'natural ': 1, 'various | multiple | diversiform | manif...': 1, 'I have not unlocked terraforming yet': 1, 'The jungle model': 1, 'fields on a hill': 1, 'Naturalistic does not too much terraforming': 1, 'Not terraforming yet': 1, 'Cottage/ Witchy / Magic': 1, 'french garden type': 1, 'Convenience': 1, 'Japaneses': 1, 'Country': 1, 'Water or cliff': 1, 'Imperial': 1, 'Japanese/anime town': 1, 'Cottagecore/Cute': 1, "I don't know what this means ": 1, 'Zen Garden': 1, 'Multiple themes to make the island look bigger and more diverse': 1, 'River terraforming': 1, 'Water building ': 1, ' through': 1, ' adventure': 1, 'Natural/outdoor look': 1, 'magic world': 1, 'I donâ\x80\x99t have a preference, if I like it, I keep it': 1, 'Personal preference. I like having waterfalls.': 1, 'Making rivers or ponds': 1, 'Cute / Natural / Fantasy': 1, 'A mix of Asian and European scenery': 1, 'Country style': 1, 'Unsure, I havenâ\x80\x99t reached that part of the game yet.': 1, 'Pathways': 1, 'Finding villagers': 1, 'I donâ\x80\x99t have a set style, I just kind of do stuff and see what happens. ': 1, ' wilderness': 1, 'Luxury + avatar theme': 1, 'Earthly': 1, 'Cottagecore aesthetic': 1, 'I love creating something inspired of real life destinations/tourist spots': 1, 'Forest/Rustic': 1, 'naturally': 1, 'garden': 1, "I'm not sure what this question is asking": 1, 'Zoo': 1, 'My world is similar': 1, 'After k.k. slider finishes his concert': 1, 'inteesting': 1, 'Â\xa0village': 1, 'Serene': 1, 'desert ': 1, "I don't like it.": 1, 'I like waterfalls. ': 1, 'Retaining as much of the natural island as possible ': 1, 'Natural village ': 1, 'Zen Garden or Japanese Style': 1, 'Never have done it ': 1, 'geometric': 1, 'Asian themes, Disney themes': 1, 'Basic': 1, ' island': 1, 'Natural/nature...mountain pass/rivers': 1, 'The witch style': 1, 'park': 1, 'Im not yet doing a terraforming': 1, 'Making the island your own': 1, 'Greenery and Fairytale': 1, 'Fairy land': 1, 'Making my island a parade with a lot of hidden and fun spots': 1, 'Nature': 1, 'Fossil Hunter': 1, 'sea': 1, 'Grassland': 1, 'Valley': 1, 'mountain': 1, ' the end of the world': 1, 'Randomness ': 1, 'water': 1, 'I donâ\x80\x99t understand the question ': 1, 'Oasis south': 1, 'Keeping it natural. I dont do much terraforming.': 1, 'straight clean lines, defined groupings': 1, 'Not Sure': 1, 'Building ': 1, "I'm not terraforming": 1, 'Everything, move rivers, make lakes, reform mountains': 1, 'Lotâ\x80\x99s of waterfalls': 1, 'Urban': 1, 'I donâ\x80\x99t understand this question...a natural style? ': 1, 'Various': 1, 'Functional but yet natural to the island ': 1, 'Rustic and natural': 1, 'fairytale': 1, 'Cottage core, natural, rural': 1, 'Mountains and valleys ': 1, 'Minimal': 1, 'No idea': 1, 'Modern/Zen': 1, 'Iâ\x80\x99m not sure this translated correctly. I will guess. I mostly terraform the first level.': 1, 'Creative and pleasing to me': 1, 'Creating paths': 1, 'All': 1, 'Japanese themed village': 1, 'Waterfall': 1, 'Clifftop museum': 1, 'Classic english town': 1, 'Tropical ': 1, 'The stars theme': 1, '1': 1, 'Iâ\x80\x99m not sure what this is asking.': 1, 'Nature wildlife': 1, 'mountainous region': 1, 'Gobi desert': 1, 'I havnt unlocked terraforming. But i did design my own paths to make my town look real': 1, 'No theme': 1, 'Fantasy RPG theme': 1, 'Original island': 1, 'Suburban ': 1, 'Not sure exactly whats being asked, but i like making waterfalls': 1, 'Mixture of island and forest': 1, 'Waterscpaping': 1, 'Asian, temple': 1, 'Paths': 1, 'Natural/Suburban': 1, 'Different sectors for the island': 1, 'Natural, with some straightening ': 1, 'Adventure (mazes, theme park)': 1, 'Open(like fields), natural': 1, 'Waterscaping': 1, 'â\x80\x9cCottagecoreâ\x80\x9d - natural, forest themed, rustic look': 1, 'lake': 1, 'islands': 1, 'primeval forest': 1, 'Planting': 1, 'underwater world': 1, 'Using custom paths and manipulating water': 1, 'free': 1, 'Centered around my hobbies': 1, 'Natural, rural': 1, 'Havenâ\x80\x99t gotten to that yet!': 1, 'The game more lifelike screen smooth experience.': 1, 'Interstellar': 1, 'A small, self-contained community': 1, 'islands ': 1, 'Not experienced in terraforming, so not sure. ': 1, "Sorry, I don't understand this question. ": 1, 'Iâ\x80\x99m doing fairly natural/Jurassic park themed ': 1, 'Authentic to the Island location': 1, 'what???? this question makes no sense': 1, 'Unknown': 1, 'Tropical nature theme': 1, 'City style': 1, 'Whatever comes to mind': 1, "When I will be able to, I'll make epic dicks out of ponds and stones.": 1, 'I make parks and enough room to breed flowers and to hold my bugs and fish for Flick and CJ': 1, 'Woodsy/Nature': 1, 'Different themed areas of the island but not completely urban ': 1, 'Cutesy style with a lot of colours ': 1, 'Both Water & Cliffs': 1, 'All like': 1, 'Natural, minimal terraforming.': 1, 'mountain ridge': 1, 'open concept, I follow what comes into my mind': 1, 'Urban Setting': 1, 'Flowery theme with simple aesthetic ': 1, 'N/A (2 star island)': 1, 'unsure': 1, 'I have not unlocked it yet': 1, 'I prefer a more natural approach and working with what the island gives. ': 1, 'I aim for a natural/whimsical  look': 1, 'Natural and whimsical ': 1, 'City/Urban/Industrial': 1, 'Building a nice garden': 1, 'Natural chic': 1, '...my own? haha': 1, 'foresty/fairytale': 1, 'More natural, floral areas. ': 1, 'Cottage core although my island is more faerie/witchy y': 1, 'Confused about this question. But my island is rural/urban clash japanese': 1, 'Cute/kawaii': 1, 'I prefer a natural theme': 1, 'Magic kingdom': 1, 'Accessibility and grandeur': 1, 'I like it to look as natural as possible but polished': 1, 'Natural looking cliffs and water': 1, 'Japanese/East Asian': 1, 'Iâ\x80\x99m trying to go for either constant Halloween feel or cottage country â\x80\x94 I donâ\x80\x99t know just yet': 1, 'Natural and refreshing style': 1, 'Em chÆ°a chÆ¡i trÃ² nÃ\xa0y': 1, 'Forest/Asian-influenced': 1, 'Sceneries': 1, 'Creating waterfalls': 1, 'I like my island to feel cozy, itâ\x80\x99s a representation of where I would live if I could build an island': 1, 'Rustic style': 1, 'All equally': 1, 'Natural looking areas': 1, 'Cottage core ': 1, 'natural, forest-y, cute ': 1, 'Not sure what this means': 1, 'Simple and natural': 1, 'Traditional Japanese theme': 1, 'Mini city': 1, 'Natural/ Rustic/ 70s-80s theme': 1, 'No idea ': 1, 'cute': 1, 'Suburban, tropical': 1, 'Sorry, not entirely sure what the question entails, but I guess I usually go for something that looks natural, island-like style rather than urban, city-like style': 1, 'Ancient ruins': 1, 'Horror style': 1, 'Making everything even ': 1, "Asian/nature-y haha I'm not sure": 1, 'Mountainous Layout': 1, 'Still havent decide one yet': 1, 'waterfalls!': 1, 'Rustic/camping': 1, 'more on natured theme': 1, 'Tropical with a hint of modernism ': 1, 'Accessible': 1, 'Variety ': 1, 'Woodland': 1, 'nature': 1, 'A more natural nature approach, but still built up. I donâ\x80\x99t want my island to look like a full blown city, but a small nature town is what I am going for.': 1, 'The brick path': 1, 'Natural forest ': 1, 'japan ': 1, 'I like making ponds the most- itâ\x80\x99s the lowest stress': 1, 'I prefer islands that are easy to move around without needing the pole or ladder.': 1, 'Open-wide': 1, 'Outdoor cafe': 1, 'Unsure what this means. Also should be â\x80\x9cwhen you are terraformingâ\x80\x9d': 1, 'Natural with a little bit of development': 1, 'Building  rivers': 1, 'Maze': 1, 'Just natural landscaping.': 1, 'I try my best to stick with my original layout/minimal terraforming.': 1, 'Ancient japanese': 1, 'A natural mountain forest look!': 1, 'winter cabin themes': 1, 'M': 1, 'Old city style': 1, 'Modern, artificial': 1, 'Mountains': 1, 'i havent chosen an aesthetic for my island yet but i always try to add as much water scenery as possible': 1, 'cute, but elegant': 1, 'I like to make my villagers have their own cool areas to live in': 1, 'Putting paths': 1, 'I go for mostly a more grassy type style': 1, 'Naturalistic vibe': 1, 'Keeping the natural theme of the original island but adding industrial parts to it': 1, 'Secret and scary ': 1, 'making it even': 1, 'Cute!': 1, 'Natural. ': 1, 'Island tropical': 1, 'Waterscaping!': 1, 'Im trying to make a kingdom esc island ': 1, "I don't understand the question completely but I terraformed shapes with the water like cats and moon": 1, 'Rustic ': 1, "Honestly can't remember oops..": 1, 'City': 1, 'Natural, lots of water': 1, 'Countryside': 1, 'Old-fashioned': 1, 'Paragon': 1, 'Animals': 1, 'Urban-themed stuff': 1, 'Asymmetric': 1, 'Cute nature aesthetic': 1, 'Unclear question ': 1, 'Princess fairytale ': 1, 'I like adding waterfalls ': 1, "N/A, I'm leaving my island exactly how it is.": 1, 'Natural/ cozy woodland': 1, 'I donâ\x80\x99t really have a specific theme ': 1, 'I still did not unlock terraforming yet': 1, 'Japanese themes/natural looking ': 1, 'Both': 1, 'Dense island': 1, '???': 1, 'unsure about question': 1, 'Close to nature': 1, 'European ': 1, 'Mystic, minimalist, and monotone colors': 1, 'Modern / resort style': 1, 'path': 1, 'Cute, real life without roads': 1, 'Square and Symetrical': 1, 'Jungle theme': 1, 'I have not unlocked terraforming yet ': 1, 'Water construction ': 1, 'Stone': 1, 'Industrial ': 1, 'I have yet to terraform': 1, 'I like playing around to create new designs and then starting over again.': 1, 'Iâ\x80\x99m not sure what this means.  I like the stone': 1, 'Water (like rivers and waterfalls)': 1, 'Natural and cosy ': 1, 'I like the water falls': 1, "I have a mixture of different styles. It more about what I'm feeling in the moment when creating.": 1, 'Making different areas': 1, 'Simple and symmetrical': 1, 'More natural ': 1, 'Making ponds': 1, 'Urban/City theme': 1, 'Random urban': 1, 'Lots of waterfalls and custom paths': 1, 'Natural/Countryside town': 1, 'Not there yet': 1, 'Nature and lovely': 1, 'Asian/Polynesian': 1, 'Not': 1, 'Fantasy-related.': 1, 'Kawaii ': 1, 'I like path making and terraforming waterfalls': 1, 'I like the stone path and bridges. I also like making waterfall features.': 1, 'I like both geometric/ modern and natural ethereal and have incorporated both': 1, 'I do like making waterfalls and creating small paths of water ': 1, 'I donâ\x80\x99t terraform, only if needed to build a land bridge ': 1, 'I make squares': 1, 'Not much of a theme but I love equal spacing of stuff': 1, 'Natural but lots of man made water ': 1, 'Trying to keep the natural form of the island but making some parts industrial': 1, 'Japanese themed': 1, 'I have a mix of styles of ground terraforming across my island, depending on the area, with flowers and fencing to match. ': 1, 'Have not thought of this': 1, 'Hills and lots of water': 1, 'animal': 1, 'all OK': 1, 'sakura mansion': 1, 'Blood mountain fire': 1, 'Mediterranean or Asian (zen) style': 1, 'Mystery Island': 1, 'ineresting': 1, 'dol': 1, 'ã\x80\x81ã\x80\x81': 1, 'Rural style': 1, 'zen / japanese': 1, 'farm': 1, 'Beach island vibe': 1, 'Disneyland': 1, 'Toy Island if Possible': 1, 'Japan Themed': 1, 'Tropical inspired': 1, 'The water feature!': 1, 'cottagecore or studio ghibli themed islands ': 1, 'pastoral': 1, 'Urban and natural': 1, 'I love a tropical island theme.': 1, "I'm basing off my island from the game Persona 5": 1, 'Build designated buildings and recreation arena': 1, 'Japanese Style': 1, 'Garden': 1, 'Like natural resorts': 1, 'My old video game. A game about farming and rural area': 1, 'Anime theme/One piece/ Persona 5': 1, 'rustic': 1, 'Nature theme with some modern spots/areas (ex. Downtown with the shops)': 1, 'half city/town, half nature/wilds ': 1, 'Mix of nature and city ': 1, 'Magical': 1, 'Nature themed': 1, 'Hippie': 1, '??': 1, 'bricks': 1, 'I love the waterfalls. So anything with that lol': 1, 'Simple and elegant': 1, 'Geometric style ': 1, "i haven't gotten it yet": 1, 'Depends on mood': 1, 'Small town with bricks and dirt paths': 1, 'diversification': 1, 'beautiful': 1, "Space theme / anything not natural that can't exist irl": 1, 'Imitating previous games in the series': 1, 'Modern Town Theme': 1, 'I like building waterfalls.': 1, 'Island/beach theme': 1, 'City type': 1, 'I made mine Dinosaur Themed xD': 1, 'european style': 1, 'Modern/cute style': 1, 'Water based terraforming and paths (keeping it natural style) ': 1, 'I use the cobblestone path. ': 1, 'modern, natural, cute': 1, 'I like my island to look mostly natural, like it was planned around the existing land': 1, 'Naturalistic': 1, 'Rural and natural': 1, 'Nature, cottage core, woodsy': 1, 'nature theme': 1, 'Simplistic/natural': 1, 'I like to keep my island looking kind of "natural" with houses and other features spread out. lots of custom paths.': 1, 'Lowkey (not much terraforming)': 1, 'I only use terraforming to enhance or slightly change the original island layout': 1, 'Countryside/Japanese theme': 1}
d7_category_counts:
D7
Natural                                                                                                                36
Neither                                                                                                                13
none                                                                                                                   12
Natural                                                                                                                12
Snow Mountain                                                                                                           7
                                                                                                                       ..
Simplistic/natural                                                                                                      1
I like to keep my island looking kind of "natural" with houses and other features spread out. lots of custom paths.     1
Lowkey (not much terraforming)                                                                                          1
I only use terraforming to enhance or slightly change the original island layout                                        1
Countryside/Japanese theme                                                                                              1
Name: count, Length: 492, dtype: int64

In [45]:
# Identify rows with invalid characters
df['Invalid Characters'] = df['D7'].apply(check_encoding)
def changeEncode(text):
    return text.encode('iso-8859-1', errors='replace').decode('utf-8', errors='ignore')

df.loc[df['Invalid Characters'] == False, 'D7'] = df[df['Invalid Characters'] == False]['D7'].apply(changeEncode)

df[df['Invalid Characters'] == False]["D7"]

df = df.drop(columns="Invalid Characters")

In [40]:
# check the values columns
df.describe()

,Date,C1,C2,C3,C4,C5,C6,C7,C8,C9,...,F24,F25,F26,F27,F28,F29,F30,F31,F32,Hours
count,640,640.000000,640.000000,640.000000,640.000000,640.000000,640.000000,640.000000,640.000000,640.000000,...,640.000000,640.000000,640.000000,640.000000,640.000000,640.000000,640.000000,640.000000,640.000000,633.000000
mean,2020-05-24 06:01:31.500000,3.784375,2.987500,4.100000,2.700000,4.334375,2.154688,4.309375,3.253125,4.284375,...,1.825000,3.728125,3.298437,4.087500,3.987500,2.035938,3.909375,3.100000,2.178125,4.933649
min,2020-05-15 14:20:00,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000
25%,2020-05-21 06:16:45,3.000000,2.000000,4.000000,2.000000,4.000000,1.000000,4.000000,2.000000,4.000000,...,1.000000,3.000000,3.000000,3.000000,3.000000,1.000000,3.000000,2.000000,1.000000,3.000000
50%,2020-05-25 04:14:00,4.000000,3.000000,4.000000,3.000000,5.000000,2.000000,5.000000,3.000000,4.000000,...,1.000000,4.000000,3.000000,4.000000,4.000000,2.000000,4.000000,3.000000,2.000000,4.000000
75%,2020-05-25 15:00:00,4.000000,4.000000,5.000000,3.000000,5.000000,3.000000,5.000000,4.000000,5.000000,...,2.000000,5.000000,4.000000,5.000000,5.000000,3.000000,5.000000,4.000000,3.000000,4.000000
max,2020-06-15 18:51:00,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,...,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,112.000000
std,NaN,0.941350,1.076059,0.869947,1.049927,0.858032,1.059783,0.881690,1.303056,0.837542,...,1.141341,1.181955,1.164148,0.953619,0.988114,1.120427,1.063510,1.359831,1.270647,7.095106

In [ ]:
profile = ProfileReport(df, title="Profiling Report")
profile.to_widgets()
profile.to_file("animal_cross.html")

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 640 entries, 0 to 639
Data columns (total 96 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         640 non-null    datetime64[ns]
 1   nationality  640 non-null    object
 2   Continent    640 non-null    object
 3   Gender       640 non-null    object
 4   education    640 non-null    object
 5   Pet          640 non-null    object
 6   Age          640 non-null    object
 7   Ethnicity    640 non-null    object
 8   Martial      640 non-null    object
 9   job          640 non-null    object
 10  isolated     640 non-null    object
 11  Time         640 non-null    object
 12  Covid-19     640 non-null    object
 13  C1           640 non-null    int64
 14  C2           640 non-null    int64
 15  C3           640 non-null    int64
 16  C4           640 non-null    int64
 17  C5           640 non-null    int64
 18  C6           640 non-null    int64
 19  C7           640 non-null    int64
 20  C8           640 non-null    int64
 21  C9           640 non-null    int64
 22  C10          640 non-null    int64
 23  C11          640 non-null    int64
 24  C12          640 non-null    int64
 25  C13          640 non-null    int64
 26  C14          640 non-null    int64
 27  C15          640 non-null    int64
 28  D1           640 non-null    object
 29  D2           640 non-null    object
 30  D3           640 non-null    object
 31  D4           640 non-null    object
 32  D5           640 non-null    object
 33  D6           640 non-null    object
 34  D7           640 non-null    object
 35  E1           640 non-null    int64
 36  E2           640 non-null    int64
 37  E3           640 non-null    int64
 38  E4           640 non-null    int64
 39  E5           640 non-null    int64
 40  E6           640 non-null    int64
 41  E7           640 non-null    int64
 42  E8           640 non-null    int64
 43  E9           640 non-null    int64
 44  E10          640 non-null    int64
 45  E11          640 non-null    int64
 46  E12          640 non-null    int64
 47  E13          640 non-null    int64
 48  E14          640 non-null    int64
 49  E15          640 non-null    int64
 50  E16          640 non-null    int64
 51  E17          640 non-null    int64
 52  E18          640 non-null    int64
 53  E19          640 non-null    int64
 54  E20          640 non-null    int64
 55  E21          640 non-null    int64
 56  E22          640 non-null    int64
 57  E23          640 non-null    int64
 58  E24          640 non-null    int64
 59  E25          640 non-null    int64
 60  E26          640 non-null    int64
 61  E27          640 non-null    int64
 62  E28          640 non-null    int64
 63  F1           640 non-null    int64
 64  F2           640 non-null    int64
 65  F3           640 non-null    int64
 66  F4           640 non-null    int64
 67  F5           640 non-null    int64
 68  F6           640 non-null    int64
 69  F7           640 non-null    int64
 70  F8           640 non-null    int64
 71  F9           640 non-null    int64
 72  F10          640 non-null    int64
 73  F11          640 non-null    int64
 74  F12          640 non-null    int64
 75  F13          640 non-null    int64
 76  F14          640 non-null    int64
 77  F15          640 non-null    int64
 78  F16          640 non-null    int64
 79  F17          640 non-null    int64
 80  F18          640 non-null    int64
 81  F19          640 non-null    int64
 82  F20          640 non-null    int64
 83  F21          640 non-null    int64
 84  F22          640 non-null    int64
 85  F23          640 non-null    int64
 86  F24          640 non-null    int64
 87  F25          640 non-null    int64
 88  F26          640 non-null    int64
 89  F27          640 non-null    int64
 90  F28          640 non-null    int64
 91  F29          640 non-null    int64
 92  F30          640 non-null    int64
 93  F31          640 non-null    int64
 94  F32          640 non-null    int64
 95  Hours        633 non-null    float64
dtypes: datetime64[ns](1), float64(1), int64(75), object(19)
memory usage: 480.1+ KB

In [47]:
df.to_csv('coursework_cleaned.csv')